/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(assets/img/galaxia.jpg);
  background-size: cover;
  color: white;
}

h2 {
  color: lime;
}
